## Python Data structure: Tuple

## Question 1:  
 ### Print the second item in the tuple:

In [2]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## Question 2:  
 ### Print the last item of the tuple:

In [3]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## Question 3:  
 ### Print the third, fourth, and fifth item in the tuple:

In [4]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

## Question 4:  
 ###  Print the items from the beginning to, but NOT included, "kiwi":

In [5]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

## Question 5:  
 ###  Print the items from "cherry" and to the end:

In [6]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

## Question 6:  
 ###  Print the items from index -4 (included) to index -1 (excluded)

In [7]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

## Question 7:  
 ###  Check if "apple" is present in the tuple:

In [8]:
thistuple = ("apple", "banana", "cherry")

## Question 8:  
 ###  Convert the tuple into a list, add "orange", and convert it back into a tuple:

In [9]:
thistuple = ("apple", "banana", "cherry")

## Question 9:  
 ###  Create a new tuple with the value "orange", and add that tuple:

In [10]:
thistuple = ("apple", "banana", "cherry")

## Question 10:  
 ###  Convert the tuple into a list, remove "apple", and convert it back into a tuple:

In [11]:
thistuple = ("apple", "banana", "cherry")

## Question 11:  
 ###  Join two tuples:

In [12]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

## Question 12:  
 ###  Multiply the fruits tuple by 2:

In [13]:
fruits = ("apple", "banana", "cherry")