## Python Data structure: Set

## Question 1:  
 ### Check if "banana" is present in the set:

In [1]:
thisset = {"apple", "banana", "cherry"}

print(thisset)

{'banana', 'apple', 'cherry'}

## Question 2:  
 ### Add an item("orange") to a set, using the add() method:

In [3]:
thisset = {"apple", "banana", "cherry"}

print(thisset)

{'banana', 'apple', 'cherry'}

## Question 3:  
 ### Add elements from tropical into thisset, using the update():

In [4]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
print(thisset)

{'banana', 'apple', 'cherry'}

## Question 4:  
 ###  Add elements of a list to at set, using the update():

In [5]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
print(thisset)

{'banana', 'apple', 'cherry'}

## Question 5:  
 ###  Remove "banana" by using the remove() method:

In [6]:
thisset = {"apple", "banana", "cherry"}

print(thisset)

{'banana', 'apple', 'cherry'}

## Question 6:  
 ###  Remove "banana" by using the discard() method:

In [7]:
thisset = {"apple", "banana", "cherry"}

print(thisset)

{'banana', 'apple', 'cherry'}

## Question 7:  
 ###  Remove a random item by using the pop() method:

In [8]:
thisset = {"apple", "banana", "cherry"}

print(thisset)

{'banana', 'apple', 'cherry'}

## Question 8:  
 ###  The clear() method empties the set:

In [9]:
thisset = {"apple", "banana", "cherry"}

print(thisset)

{'banana', 'apple', 'cherry'}

## Question 9:  
 ###  The del keyword will delete the set completely:

In [10]:
thisset = {"apple", "banana", "cherry"}

print(thisset)

{'banana', 'apple', 'cherry'}

## Question 10:  
 ###  The union() method returns a new set with all items from both sets:

In [11]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

## Question 11:  
 ###  The update() method inserts the items in set2 into set1:

In [12]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

## Question 12:  
 ###  The intersection_update() method will keep only the items that are present in both sets.
 ### Keep the items that exist in both set x, and set y:

In [13]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

## Question 13:  
 ###  The intersection() method will return a new set, that only contains the items that are present in both sets.
 ### Create a new set, z that contains the items that exist in both set x, and set y:

In [14]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

## Question 14:  
 ###  The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
 ### Keep the items that are not present in both sets:

In [15]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

## Question 15:  
 ###  The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
 ### Create a new set, z that contains all items from both sets, except items that are present in both:

In [16]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}